<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- loads jquery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- loads bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- loads in bootstrp js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>EAT DA BURGER!</title>
</head>
<body>
    <div class="jumbotron" id="hero"> 
				<h1 class="tracking-in-expand">EAT-DA-BURGER!</h1>
		</div>
		<div class="container-fluid row" id="content">
{{{body}}}
</body>
</html>