
<div class ="tableBox col-xl-8 col-lg-8 col-md-8 col-sm-12 col -sx-12">
    <table class="table">
        <thead>
            <th>BURGER ID</th>
            <th>BURGER NAME</th>
            <th>ACTION</th>
        </thead>
        <tbody>
            {{#each burgers}}
              {{#unless this.devoured}}
              <tr>
                  <td>{{this.id}}</td>
                  <td><img src="../public/assests/images/burger.gif" alt="burger" height="30px"> {{this.burger_name}}</td>
                  <td>
                      <form action="./{{this.id}}?_method=PUT" method="POST"> 
                        <input type="hidden" name="burgerName" value="true">
                        <button class="btn btn-success" type="submit" >DEVOUR IT!</button>
                      </form>
                  </td>   
              </tr>
              {{/unless}}
              {{/each}}
        </tbody>
    </table>
</div>